<h1 align=left><font size = 6 >Capstone Project - The Battle of Neighborhoods</font/h1>

## Introduction

In this project I will explore neighborhoods in London with the intent of advising a client which area is best suited to start a new business -- in this case a __Gym/Fitness Center__. I will use the Foursquare API to explore neighborhoods and appropriate clustering techniques to identify ideal neightborhood for the business. Various factors are likely to  play into defining *attractiveness* of a neighborhood such as demographics, population density, transportation, competing businesses, and availability of affordable space.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
ca-certificates-2019 | 145 KB    | ##################################### | 100%
geopy-1.21.0         | 58 KB     | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-4.0.1               |             py_0         575 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         673 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.1-py_0 conda-forge
    branca:  0.3.1-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-4.0.1         | 575 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

## Data
Data for this project was obtained by searching the web for information regarding London neighborhoods. The most most comphrehensive and reliable site is provide by the [London government](https://www.london.gov.uk/) and contains extensive amount of usable data. The data has not been updated since 2017, but will illustrate the techniques being used to answer the question: Which London borough offer the best prospects for a new business focused on fitness?  

The [Greater London Authority]( https:/data.london.gov.uk/download/london-borough-profiles) website contains csv and excel files describing demographics of London neighborhoods in great detail. The data for each of the areas in London is shown in the table below. I will most likely use only the most recent data, but historical demographic trends may also be a useful indicator.  Another crucial factor affecting choice would be cost of space. I found some websites provinding average rents for space in various [London neighborhoods](https://www.oktra.co.uk/insights/how-much-does-london-office-space-cost-in-2020/). This will factor into the decision making criteria.

Location data for each neighborhood in London was obtained using the __geopy.geocoder__ package. 

Information regarding existing businesses and venues was obtained from Foursquare.

In [2]:
import pandas as pd
!wget -O london_data.csv https://data.london.gov.uk/download/london-borough-profiles/c1693b82-68b1-44ee-beb2-3decf17dc1f8/london-borough-profiles.csv

london_data = pd.read_csv("london_data.csv", delimiter =",", encoding ='unicode_escape')

--2020-02-14 14:10:11--  https://data.london.gov.uk/download/london-borough-profiles/c1693b82-68b1-44ee-beb2-3decf17dc1f8/london-borough-profiles.csv
Resolving data.london.gov.uk (data.london.gov.uk)... 99.84.168.52, 99.84.168.11, 99.84.168.129, ...
Connecting to data.london.gov.uk (data.london.gov.uk)|99.84.168.52|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://airdrive-secure.s3-eu-west-1.amazonaws.com/london/dataset/london-borough-profiles/2017-01-26T18%3A50%3A00/london-borough-profiles.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJDIMAIVZJDICKHA%2F20200214%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20200214T141012Z&X-Amz-Expires=300&X-Amz-Signature=e19d2211df1abbbf7bcf6c842564f37f41c668934b10c2b7ef457627703517ac&X-Amz-SignedHeaders=host [following]
--2020-02-14 14:10:12--  https://airdrive-secure.s3-eu-west-1.amazonaws.com/london/dataset/london-borough-profiles/2017-01-26T18%3A50%3A00/london-borough-profiles.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJDIMAIVZJDICKHA%2F20200214%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20200214T141012Z&X-Amz-Expires=300&X-Amz-Signature=e19d2211df1abbbf7bcf6c842564f37f41c668934b10c2b7ef457627703517ac&X-Amz-SignedHeaders=host
Resolving airdrive-secure.s3-eu-west-1.amazonaws.com (airdrive-secure.s3-eu-west-1.amazonaws.com)... 52.218.85.11
Connecting to airdrive-secure.s3-eu-west-1.amazonaws.com (airdrive-secure.s3-eu-west-1.amazonaws.com)|52.218.85.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20366 (20K) [text/csv]
Saving to: ‘london_data.csv’

100%[======================================>] 20,366      --.-K/s   in 0.1s

2020-02-14 14:10:12 (161 KB/s) - ‘london_data.csv’ saved [20366/20366]

In [3]:
london_data

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),Net_international_migration_(2015),Net_natural_change_(2015),%_of_resident_population_born_abroad_(2015),Largest_migrant_population_by_country_of_birth_(2011),%_of_largest_migrant_population_(2011),Second_largest_migrant_population_by_country_of_birth_(2011),%_of_second_largest_migrant_population_(2011),Third_largest_migrant_population_by_country_of_birth_(2011),%_of_third_largest_migrant_population_(2011),%_of_population_from_BAME_groups_(2016),%_people_aged_3+_whose_main_language_is_not_English_(2011_Census),"Overseas_nationals_entering_the_UK_(NINo),_(2015/16)","New_migrant_(NINo)_rates,_(2015/16)",Largest_migrant_population_arrived_during_2015/16,Second_largest_migrant_population_arrived_during_2015/16,Third_largest_migrant_population_arrived_during_2015/16,Employment_rate_(%)_(2015),Male_employment_rate_(2015),Female_employment_rate_(2015),Unemployment_rate_(2015),Youth_Unemployment_(claimant)_rate_18-24_(Dec-15),Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014),Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016),%_working-age_with_a_disability_(2015),Proportion_of_working_age_people_with_no_qualifications_(%)_2015,Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015,"Gross_Annual_Pay,_(2016)",Gross_Annual_Pay_-_Male_(2016),Gross_Annual_Pay_-_Female_(2016),Modelled_Household_median_income_estimates_2012/13,%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13),Number_of_jobs_by_workplace_(2014),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Crime_rates_per_thousand_population_2014/15,Fires_per_thousand_population_(2014),Ambulance_incidents_per_hundred_population_(2014),"Median_House_Price,_2015","Average_Band_D_Council_Tax_charge_(£),_2015/16",New_Homes_(net)_2015/16_(provisional),"Homes_Owned_outright,_(2014)_%","Being_bought_with_mortgage_or_loan,_(2014)_%","Rented_from_Local_Authority_or_Housing_Association,_(2014)_%","Rented_from_Private_landlord,_(2014)_%","%_of_area_that_is_Greenspace,_2005",Total_carbon_emissions_(2014),"Household_Waste_Recycling_Rate,_2014/15","Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)","%_of_adults_who_cycle_at_least_once_per_month,_2014/15","Average_Public_Transport_Accessibility_score,_2014","Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14",Rates_of_Children_Looked_After_(2016),%_of_pupils_whose_first_language_is_not_English_(2015),%_children_living_in_out-of-work_households_(2015),"Male_life_expectancy,_(2012-14)","Female_life_expectancy,_(2012-14)",Teenage_conception_rate_(2014),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
0,E09000001,City of London,Inner London,8800,5326,290,30.3,43.2,11.4,73.1,15.5,-7,665,30,.,United States,2.8,France,2,Australia,1.9,27.5,17.1,975,152.2,India,France,United States,64.6,.,.,.,1.6,.,3.4,.,.,.,.,.,.,"£63,620",.,500400,3.4,84.3,26130,64.3,.,12.3,.,799999,931.2,80,.,.,.,.,4.8,1036,34.4,1692,0.4,16.9,7.9,78.6,101,.,7.9,.,.,.,6.6,7.1,6.0,5.6,NaN,2.6,129,.,.,.,.,.
1,E09000002,Barking and Dagenham,Outer London,209000,78188,"3,611",57.9,32.9,27.2,63.1,9.7,-1176,2509,2356,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,"7,538",59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11,4.5,5.7,10.5,17.2,11.3,32.2,27886,30104,24602,"£29,420",20.5,58900,21.1,0.5,6560,73.0,83.4,3,13.7,243500,1354.03,730,16.4,27.4,35.9,20.3,33.6,644,23.4,56966,0.8,8.8,3,58,69,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228,Lab,0,100,0,36.5
2,E09000003,Barnet,Outer London,389600,151423,"8,675",44.9,37.3,21.1,64.9,14.0,-3379,5407,2757,35.2,India,3.1,Poland,2.4,Iran,2,38.7,23.4,"13,094",53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49,33443,36475,31235,"£40,530",33.2,167300,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000,1397.07,1460,32.4,25.2,11.1,31.1,41.3,1415,38,144717,1.1,7.4,3,67.3,35,46,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134,Cons,50.8,.,1.6,40.5
3,E09000004,Bexley,Outer London,244300,97736,"6,058",40.3,39.0,20.6,62.9,16.6,413,760,1095,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6,"2,198",14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350,37881,28924,"£36,990",22.1,80700,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000,1472.43,-130,38.1,35.3,15.2,11.4,31.7,975,54,108507,1.2,10.6,2.6,60.3,46,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164,Cons,71.4,23.8,0,39.6
4,E09000005,Brent,Outer London,332100,121048,"4,323",76.8,35.6,20.9,67.8,11.3,-7739,7640,3372,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,"22,162",100.9,Romania,Italy,Portugal,69.5,76,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812,30129,29600,"£32,140",17.3,133600,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250,1377.24,1050,22.2,22.6,20.4,34.8,21.9,1175,35.2,87802,0.8,7.9,3.7,60.1,45,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169,Lab,9.5,88.9,1.6,36.3
5,E09000006,Bromley,Outer London,327900,140602,"15,013",21.8,40.2,19.9,62.6,17.5,1342,796,1445,18.3,India,1.1,Ireland,1.1,Nigeria,0.7,18.9,5.8,"2,924",14.4,Romania,Italy,Spain,75.3,80.4,70.4,5.3,2.5,4.3,6,15.9,4.3,46.7,37682,42026,32491,"£43,060",29,127800,13.9,0.6,15695,78.6,64.1,2.3,11.2,374975,1347.27,700,37.8,34.9,13.2,14.1,57.8,1180,48,153908,1.2,13,2.8,68,40,38.9,10.2,81.4,84.9,16.7,7.5,7.9,7.4,3.3,16,5.2,148,Cons,85,11.7,0,40.8
6,E09000007,Camden,Inner London,242500,107654,"2,179",111.3,36.4,17.3,71.0,11.7,-2917,7504,1618,41.4,United States,2.8,Bangladesh,2.7,Ireland,2.4,34.6,23.5,"10,384",60.7,Italy,France,Spain,69.2,72.2,66.1,4,3.6,4.4,8.5,21.3,6.1,61.1,39796,.,36632,"£43,750",21.9,377400,12.4,2.2,31385,73.6,123.5,2.7,14.8,700000,1359.66,970,18.5,15.1,34.4,32,24.8,1288,26.3,46601,0.5,18.8,5.7,62.7,41,25.2,16.5,81.8,86.7,16.8,7.1,7.4,7.1,3.6,21.3,3.9,164,Lab,22.2,74.1,1.9,38.7
7,E09000008,Croydon,Outer London,386500,159010,"8,650",44.7,37.0,22.0,64.9,13.0,-2605,2438,3164,29.4,India,3.6,Jamaica,2.5,Ghana,1.5,49.9,14.5,"7,946",32.3,Romania,Poland,Italy,75.4,81.8,69.5,4.1,4.8,3.3,7.8,17.5,7,40.6,32696,35839,29819,"£37,000",27.2,141600,20.1,0.6,15540,75.3,77,2.2,12.8,300000,1494.13,2040,30.8,33.6,16.7,18.6,37.1,1237,39.9,140049,1.0,12.8,3.2,57.7,86,36.7,14.1,80.3,83.6,28.4,7.1,7.6,7.2,3.3,24.5,6.5,178,Lab,42.9,57.1,0,38.6
8,E09000009,Ealing,Outer London,351600,132663,"5,554",63.3,36.2,21.4,66.8,11.8,-6473,4007,3404,47.4,India,7.6,Poland,6.4,Ireland,2.3,53.5,33.9,"14,927",65.2,Poland,Romania,Italy,72.7,81.2,63.8,5.8,3,3,7.9,15.2,9.1,49.7,31331,32185,29875,"£36,070",32.1,160500,13.6,0.7,18700,75.8,75.5,1.9,11.3,430000,1335.93,720,20.1,30.2,14.3,35,30.9,1342,40.1,112845,0.9,15,3.3,62.1,46,43.6,13.1,80.6,84.2,17.8,7.3,7.6,7.3,3.6,23.8,6.9,164,Lab,17.4,76.8,5.8,41.2
9,E09000010,Enfield,Outer London,333000,130328,"8,083",41.2,36.3,22.8,64.4,12.8,-2077,3164,2769,35,Turkey,4.5,Cyprus (Not otherwise specified),3.6,Poland,1.9,42.3,22.9,"9,259",43.8,Romania,Bulgaria,Poland,73.0,80.4,66,3.8,3.3,3.1,9.3,18.4,4.5,43.4,31603,35252,30222,"£33,110",22.4,128800,21.7,0.6,13925,74.2,69.4,2.2,12.2,320000,1420.17,670,25.6,36.2,17.2,21,45.6,1245,38.5,119653,1.0,7.9,3,59.9,43,55.3,17.4,80.7,84.1,24.6,7.3,7.6,7.3,2.6,25.2,7.0,152,Lab,34.9,65.1,0,38.2
10,E09000011,Greenwich,Outer London,280100,113964,"4,733",59.2,35.0,21.9,67.7,10.4,-407,3366,2989,35.4,Nigeria,5.1,Nepal,1.9,India,1.7,40.3,16.9,"7,002",37.6,Romania,Bulgaria,Italy,72.1,77.9,66.3,8.1,5.4,5,9.5,20.2,10.6,42.2,32415,35596,29833,"£35,350",17.4,94700,27.3,0.5,10060,72.7,79.4,2.5,11.9,340000,1296.18,1720,19.2,26.9,34.2,19.7,34.4,1014,34.3,78185,0.8,7.7,3.4,58.8,78,44.1,17.1,79,82.5,28.1,7.2,7.6,7.2,3.4,27.7,6.1,193,Lab,15.7,84.3,0,37.3
11,E09000012,Hackney,Inner London,274300,115417,"1,905",144,33.1,20.7,72.1,7.2,-738,3359,3236,35.8,Turkey,3.6,Nigeria,2.7,Jamaica,1.8,43.6,24.1,"8,927",46.0,Italy,France,Spain,69.0,72.8,65.3,5.9,4.8,3,10.7,17.9,10.8,49.2,32056,.,31919,"£35,140",29.6,132800,18.1,0.7,18510,76.8,99.6,2.7,11.5,485000,1294.42,830,11.1,19.8,45.4,23.3,23.2,813,25.3,41800,0.4,25.2,4.9,60.6,53,44.2,19.7,78.5,83.3,24.7,7.0,7.3,7.0,3.8,27,5.8,211,Lab,7,87.7,5.3,39.4
12,E09000013,Hammersmith and Fulham,Inner London,185300,83552,"1,640",113,35.7,17.4,72.3,10.3,-3361,2926,1462,43.2,France,2.7,Ireland,2.7,Australia,2.5,33.7,22.7,"9,256",71.4,Italy,France,Spain,77.5,80.9,74.2,4.7,2.2,2.5,8.4,12.9,4.9,67.5,38041,43845,34808,"£43,820",30.5,149500,16.4,1.2,14095,73.4,113.2,2,12.2,730000,1003.81,370,19.1,21.8,25.9,33.1,19.1,809,20.7,43843,0.5,20.1,4.7,60.5,58,48.9,16.1,79.7,84.1,22.4,7.4,7.5,7.2,3.1,21.3,4.4,187,Lab,43.5,56.5,0,37.6
13,E09000014,Haringey,Inner London,278000,115608,"2,960",93.9,35.1,20.0,70.7,9.3,-4233,6675,2885,39.6,Poland,4.3,Turkey,4,Jamaica,2,38.2,29.7,"15,144",78.5,Romania,Italy,Bulgaria,71.3,77.6,64.8,5.7,5.6,3.5,9.7,16.3,8.8,49.2,31063,.,29513,"£35,420",29.8,91500,17.8,0.5,12675,74.4,90.2,2.1,12.3,432500,1484.01,240,18,24.7,33.4,23.9,25.5,773,37.3,61515,0.6,14.1,4.3,59.7,67,48,16.9,80.1,84.9,22.6,7.2,7.5,7.2,3.2,23.8,5.9,183,Lab,0,84.2,15.8,38.1
14,E09000015,Harrow,Outer London,252300,92557,"5,046",50,38.3,20.5,64.5,15.0,-3644,2833,1933,49.6,India,9,Kenya,4.9,Sri Lanka,4.3,61.8,28.5,"10,427",65.4,Romania,India,Poland,73.9,83.1,64.7,4.6,2.4,1.5,5.4,13.9,4.2,47.9,33202,.,29335,"£38,880",38.9,88600,14.5,0.6,15155,76.5,50.4,1.3,9.8,396150,1559.61,910,33.5,32.8,8.9,24.6,34.6,748,45.1,100326,1.2,8.3,2.9,66.4,32,57.6,9.1,82.7,86.1,11,7.3,7.4,7.3,2.7,20.2,8.5,134,Lab,41.3,54,1.6,40.7
15,E09000016,Havering,Outer London,254300,104098,"11,235",22.6,40.3,19.3,62.3,18.4,1710,604,785,10.9,Ireland,1.1,India,1,Nigeria,0.9,15.7,4.6,"2,642",17.0,Romania,Lithuania,Poland,76.5,81.3,71.8,5.3,3.3,4,7,18.2,10.5,26,33398,36539,27455,"£36,670",16.9,91300,20.7,0.6,10115,75.3,62.9,2.5,12.9,287500,1543.64,1010,35.2,33.9,17.2,13.8,59.3,1032,32.4,117634,1.2,7.8,2.5,59.8,42,38.9,12.6,80.2,83.9,22.8,7.4,7.7,7.2,3.3,21.8,5.9,159,No Overall Control,40.7,1.9,0,43.1
16,E09000017,Hillingdon,Outer London,301000,110827,"11,570",26,36.4,21.3,65.6,13.1,-1616,4139,2458,32.4,India,5.7,Pakistan,1.8,Ireland,1.6,45.7,18.8,"6,993",35.8,Romania,Poland,India,73.2,80.7,65.9,5.8,2.5,2.4,6.5,17.9,8.7,40.2,33508,36107,28778,"£37,040",23.8,220900,11.4,1.0,13505,75.0,76.6,2.6,14.7,350000,1388.93,710,22.2,33,16.6,28.2,49.2,1713,43.8,122486,1.2,12.3,2.4,62,49,29.6,12.3,80.4,83.9,20.5,7.4,7.7,7.3,3.5,21.1,6.4,170,Cons,64.6,35.4,0,36.1
17,E09000018,Hounslow,Outer London,274200,105887,"5,598",49,35.8,21.1,67.6,11.3,-3994,4425,2871,46.3,India,10.7,Poland,4.1,Pakistan,2.8,51.6,28.7,"11,336",62.4,Romania,India,Poland,74.2,84.7,63.2,4.3,2.9,3.2,6.1,17.6,6.5,45.5,31001,32235,27226,"£35,330",26.9,165700,11.7,1.0,13910,76.2,79.2,2.1,12.1,355000,1355.77,480,25.5,27,19.2,28.3,39.6,1277,34.5,94042,1.0,16,3,63.2,45,50.6,13.5,80,83.9,25,7.3,7.6,7.4,3.4,24.1,6.5,166,Lab,18.3,81.7,0,36.8
18,E09000019,Islington,Inner London,231200,105038,"1,486",155.6,34.8,15.9,75.3,8.8,-1480,6295,1819,36.6,Ireland,2.8,Turkey,1.8,United States,1.5,32,19.9,"9,302",54.3,Italy,France,Spain,72.6,78.2,67,4.5,4.5,5.2,10.5,14.6,6.2,62.7,36592,38284,.,"£39,790",31.1,231500,14.5,1.5,22110,72.5,121.2,2.6,13.9,583000,1296.15,1030,15.4,23.5,35.3,25.5,12.4,878,32.8,38629,0.4,21.4,5.7,59.9,88,57.6,23.4,79,83.5,20.2,7.2,7.4,7.1,3.7,22.8,5.0,203,Lab,0,97.9,0,38.4
19,E09000020,Kensington and Chelsea,Inner London,159000,80200,"1,212",131.1,39.3,16.4,69.3,14.3,-1741,2234,1047,51.9,United States,5,France,4.2,Italy,2.7,30,28,"7,237",66.2,Italy,France,Spain,68.2,76.3,60.4,4.2,3.4,3.6,7.2,14.3,5.2,65.2,.,.,.,"£55,620",31.1,143500,14.7,1.4,14350,74.5,120.9,2,12.7,1200000,1058.58,380,22.6,15.1,29.1,33.1,15.1,1154,25.3,44536,0.6,16.9,5.8,68.7,37,45.8,11.0,83.3,86.4,14.2,7.6,7.8,7.6,3.1,18.6,4.2,136,Cons,74,24,2,29.8
20,E09000021,Kingston upon Thames,Outer London,175400,69849,"3,726",47.1,37.1,19.6,67.2,13.2,-226,2547,1207,29.8,Sri Lanka,2.2,India,1.8,Korea (South),1.4,30.4,16.4,"3,205",27.5,Bulgaria,Romania,Poland,74.4,80.9,67.8,4.5,2,3.9,4.6,15.3,5.9,53.7,37979,41288,33400,"£43,940",42.7,83700,17.1,0.8,8970,76.8,58.5,1.8,11.1,410000,1683.24,240,27.7,38.9,10.7,22.4,36.4,678,45.7,70421,1.1,20.4,2.9,68.6,30,39.3,7.7,82,84.6,15.3,7.3,7.7,7.4,3.3,16.9,4.9,141,Cons,58.3,4.2,37.5,43.1
21,E09000022,Lambeth,Inner London,328900,144400,"2,681",122.7,34.5,17.6,74.6,7.8,-1572,4598,3130,32.2,Jamaica,3.2,Portugal,2.3,Poland,2.3,41.5,20.3,"11,259",46.5,Spain,Italy,Poland,78.5,82.3,74.6,5.9,4.1,2.2,8.8,16.1,6.2,65,33441,35995,30173,"£38,490",31.7,184000,23.1,0.8,17280,63.8,104.6,2.5,13.3,450000,1257.35,1350,10.9,24.9,29.8,34.4,17.3,1091,28.3,66791,0.5,16,5,57.1,73,39.1,18.1,78.9,83.3,33.8,7.1,7.5,7.2,3.5,23,5.0,205,Lab,4.8,93.7,0,34.5
22,E09000023,Lewisham,Inner London,303400,131076,"3,515",86.3,35.0,20.6,70.1,9.3,-1536,3683,3239,34.9,Jamaica,3.5,Nigeria,3.5,Poland,1.6,47.4,16.5,"7,978",38.3,Romania,Spain,Italy,75.9,79.6,72.4,5.7,6,3.5,9.8,16.5,5.8,53.3,33157,.,31641,"£35,900",27.9,90000,24.8,0.4,10405,73.4,77,2.2,12,352000,1378.66,1540,16.5,31.7,28.1,23.6,22.5,825,17.1,76507,0.7,16.1,4.1,56.3,69,40.9,17.9,79,83.4,31.3,7.2,7.6,7.3,3.4,23.6,6.1,191,Lab,0,98.1,0,37.2
23,E09000024,Merton,Outer London,208100,84201,"3,762",55.3,36.7,20.6,67.2,12.2,-2060,1077,2029,37.4,Poland,3.5,Sri Lanka,3.2,South Africa,2.8,36.7,21.1,"6,684",48.6,Poland,Romania,Bulgaria,78.8,86.3,71.4,4.6,3.9,4.3,5.7,13.5,4.7,58,33989,.,30722,"£41,960",22,96800,12.2,0.7,12070,78.4,59.7,1.8,10.4,415000,1382.45,510,21.7,32.7,16.2,29.3,34.6,691,37.5,72777,0.9,14.4,3.4,67.8,35,34.2,10.4,80.4,84.2,19.7,7.3,7.5,7.1,3.6,19.2,5.6,162,Lab,33.3,60,1.7,41.3
24,E09000025,Newham,Inner London,342900,119172,"3,620",94.7,32.1,22.7,70.2,7.0,-7273,11182,4616,54.1,India,8.7,Bangladesh,6.8,Pakistan,5.3,73.1,41.4,"25,604",109.6,Romania,India,Bulgaria,66.2,75,56.1,9.1,4.1,4.3,8,12.7,11,43.4,27942,30141,24006,"£28,780",8.4,111100,23.1,0.5,11055,70.0,90.8,2.5,12.2,305000,1240.54,1440,9.4,16.7,31.4,42.5,23.9,1261,17.2,61092,0.6,5.6,3.9,55.7,42,58.8,15.4,78.5,83,22.5,7.1,7.4,7.2,3.4,27.6,7.6,193,Lab,0,100,0,40.5
25,E09000026,Redbridge,Outer London,304200,110708,"5,642",53.9,35.8,22.8,65.0,12.2,-2912,3685,2960,40.2,India,7.6,Pakistan,5.3,Sri Lanka,2.6,62.7,24.6,"10,534",54.6,Romania,India,Bulgaria,68.3,79.1,57.6,7.9,4.1,3.3,6,17.1,10.2,44.7,33483,39272,29204,"£36,860",25.2,90700,22.9,0.5,14595,74.7,69.7,1.9,11.3,345000,1415.22,50,29.5,34.9,11.3,24.1,40.6,874,28.7,106339,1.1,11.8,3,68.7,28,66.5,9.8,80.9,84.6,18.5,7.3,7.6,7.3,3.2,23.3,7.9,142,Lab,39.7,55.6,4.8,39.7
26,E09000027,Richmond upon Thames,Outer London,197300,85108,"5,741",34.4,38.8,20.7,64.5,14.8,-1192,913,1391,23.7,Ireland,1.8,South Africa,1.4,United States,1.4,15.7,10.4,"2,580",20.6,Italy,Poland,Romania,79.6,82.1,77.2,3.8,2.4,4.3,4.4,10.8,3.2,69.5,42076,.,38499,"£53,470",48.7,95900,11.2,0.8,14185,78.8,56.3,1.5,9.7,575000,1582.39,510,30.9,38.4,8.7,21.9,50.8,790,41.2,84918,1.1,33.1,3.1,70.5,26,53.5,5.7,82.4,86,12.6,7.5,7.8,7.3,3.2,12.6,3.7,137,Cons,72.2,0,27.8,46.1
27,E09000028,Southwark,Inner London,314300,134254,"2,886",108.9,34.4,18.6,73.5,7.9,-2438,5497,3304,38.4,Nigeria,4.7,Jamaica,2,Ireland,1.7,45.7,19.6,"12,157",53.5,Spain,Italy,France,74.2,79.8,68.6,7.7,4.7,2,8.8,16.8,7.6,56.8,33864,36712,32696,"£37,100",26.4,285900,18.8,1.3,17120,73.4,100.6,3,13.6,475000,1206.38,1380,10.1,26.3,37.2,26.4,24.9,1169,34.6,60438,0.5,20.1,4.9,61.2,75,29.8,19.5,78.9,83.9,27.4,7.5,7.7,7.3,3.4,27.6,5.5,207,Lab,3.2,76.2,20.6,36.2
28,E09000029,Sutton,Outer London,202600,85243,"4,385",46.2,38.9,20.7,64.3,15.1,161,568,1269,23.1,Sri Lanka,1.8,India,1.7,Ireland,1.2,25,10,"2,070",16.1,Romania,Bulgaria,Poland,78.2,86.2,70.5,5.5,2.3,3.2,5.1,14.4,4.3,42.5,32697,36636,28540,"£39,940",23.5,78600,18.9,0.6,8710,76.0,55.9,2,11.3,320000,1486.03,390,25.7,41.8,11.6,20.5,32,666,37.6,91266,1.2,9.4,2.9,67.4,50,34.3,9.6,80.9,83.4,17.3,7.5,7.7,7.3,3.2,18.4,5.9,163,Lib Dem,16.7,0,83.3,42.6
29,E09000030,Tower Hamlets,Inner London,304000,123720,"1,978",153.7,31.4,20.1,73.9,6.0,-2798,10532,3509,38.6,Bangladesh,15.3,India,1.5,China,1.4,54,34.2,"17,580",80.5,Italy,France,Spain,70.4,80.3,59.6,9.2,3.2,3.4,8.5,15.4,10,45.7,36429,38461,32657,"£34,930",20.6,280100,16.1,1.4,18390,69.7,99.9,3.5,11.8,415000,1196.85,2390,7,19.8,41.6,31.5,15.2,1703,28.1,43589,0.4,22.4,5,59.2,47,51.1,21.9,78.1,82.5,18.1,7.2,7.4,7.2,3.3,27.1,6.6,239,Tower Hamlets First,11.1,48.9,0,47.2
30,E09000031,Waltham Forest,Outer London,276200,105981,"3,881",71.2,35.1,21.8,67.9,10.3,-5787,5814,3125,37.2,Pakistan,4.9,Poland,3.2,Romania,1.7,49.9,26.4,"15,452",83.9,Romania,Bulgaria,Poland,73.1,76.8,69.4,5.4,3.5,3,8.1,15.5,11.6,42.6,30859,33126,.,"£33,080",19.2,84500,23.0,0.5,11020,71.0,78,2.2,11.7,366569,1474.18,970,20.6,29.2,19.9,30,31.4,780,35.5,76217,0.8,12.9,3.6,58.3,43,62.4,15.1,79.4,83.8,26.2,7.2,7.5,7.1,3.1,26.3,6.4,185,Lab,26.7,73.3,0,37.6
31,E09000032,Wandsworth,Inner London,321000,138149,"3,426",93.7,35.0,17.8,72.8,9.3,-2507,1296,3574,32.8,Poland,2.2,South Africa,2.1,Ireland,1.9,29.7,17.4,"9,965",43.5,Italy,Spain,Australia,78.8,86.6,71.6,5.7,2.6,2.9,5.9,11.4,4.3,66.4,41064,.,36247,"£47,480",34.6,134100,21.4,0.6,18695,75.8,72.6,1.8,10.1,557000,679.91,2740,17.7,30.5,19.3,31.2,26.9,1038,20.7,89513,0.7,30.7,4.3,63,41,50.8,12.7,79.5,83.7,19.3,7.4,7.6,7.4,3.6,19.3,4.2,177,Cons,68.3,31.7,0,36.9
32,E09000033,Westminster,Inner London,242100,118975,"2,149",112.7,37.7,15.9,72.3,11.7,-3273,10763,1522,49.8,United States,3.6,France,2.6,Iraq,2.1,38.8,30.8,"12,613",72.0,Italy,France,Spain,65.6,68.6,62.3,8.8,3.5,2.2,7.6,17.5,4.5,63.6,42141,46627,39132,"£47,510",23.9,730700,13.4,4.3,55385,68.8,212.4,4,19.9,920000,669.07,910,17.1,11.6,27.8,43.3,38.2,2502,19.1,48810,0.5,15.8,6.5,65.7,39,52.6,15.8,82.3,86.3,15.4,7.3,7.5,7.1,3.4,24.9,4.4,162,Cons,73.3,26.7,0,32.3
33,E13000001,Inner London,NaN,3535700,1522541,"31,929",110.7,34.7,38.5,54.7,6.8,"-45,138","78,597","47,151",40.1,Bangladesh,2.5,India,1.8,Ireland,1.7,43.1,25.2,"158,381",63.1,Italy,Romania,Spain,72.3,78,66.6,6.4,4.1,3.3,8.6,15.6,7.2,57,.,.,.,"£40,290",.,3442500,14.4,1.4,287585,71.0,106.4,2.6,13.1,495000,.,.,14.6,22.2,32.1,30.9,21.7,.,.,725356,0.5,.,4.9,.,56,49.6,0.8,.,.,23.1,7.3,7.5,7.2,3.4,-,5.3,.,.,23.4,69.7,3.8,37.7
34,E13000002,Outer London,NaN,5299800,2079422,"125,424",42.3,36.9,13.8,71.7,14.5,"-44,178","82,685","45,788",34.2,India,4.1,Poland,2.1,Pakistan,1.6,42.1,20.1,"158,973",46.8,Romania,Poland,Italy,73.3,80.3,66.4,5.9,3.2,3.4,7,16.4,7.3,44.7,.,.,.,"£38,360",.,2190400,16.8,0.7,253725,75.2,69.4,2.1,11.8,350000,.,.,27.3,32,16.7,23.9,42.5,.,.,1939058,1.0,.,3,.,47,44,12.2,.,.,20.7,7.3,7.6,7.3,3.2,-,6.5,.,.,39.2,49.4,7.8,39.6
35,E12000007,London,NaN,8835500,3601963,"157,215",56.2,36.0,13.9,73.6,12.5,"-77,535","133,901","78,370",36.6,India,3.2,Poland,1.9,Ireland,1.6,42.5,22.1,"318,543",53.9,Romania,Italy,Spain,72.9,79.3,66.5,6.1,3.6,3.4,7.7,16.1,7.3,49.9,33776,36697,30979,"£39,110",25.7,5633400,15.3,1.0,541310,73.0,84,2.3,12.3,399950,.,.,22,27.9,23.1,26.8,38.3,35817,33.1,2664414,0.8,14.7,3.8,61.8,51,29.3,14.4,80.3,84.2,21.5,7.3,7.6,7.2,3.3,23.2,6.0,169,.,33.1,57.3,6.3,38.9

In [4]:
print('Shape of Dataframe',london_data.shape)
print('Dimension of Dataframe', london_data.ndim)
print('Datatype of columns', london_data.dtypes)

Shape of Dataframe (38, 84)
Dimension of Dataframe 2
Datatype of columns Code                                                                                                 object
Area_name                                                                                            object
Inner/_Outer_London                                                                                  object
GLA_Population_Estimate_2017                                                                          int64
GLA_Household_Estimate_2017                                                                          object
Inland_Area_(Hectares)                                                                               object
Population_density_(per_hectare)_2017                                                                object
Average_Age,_2017                                                                                   float64
Proportion_of_population_aged_0-15,_2015                                                            float64
Proportion_of_population_of_working-age,_2015                                                       float64
Proportion_of_population_aged_65_and_over,_2015                                                     float64
Net_internal_migration_(2015)                                                                        object
Net_international_migration_(2015)                                                                   object
Net_natural_change_(2015)                                                                            object
%_of_resident_population_born_abroad_(2015)                                                          object
Largest_migrant_population_by_country_of_birth_(2011)                                                object
%_of_largest_migrant_population_(2011)                                                               object
Second_largest_migrant_population_by_country_of_birth_(2011)                                         object
%_of_second_largest_migrant_population_(2011)                                                        object
Third_largest_migrant_population_by_country_of_birth_(2011)                                          object
%_of_third_largest_migrant_population_(2011)                                                         object
%_of_population_from_BAME_groups_(2016)                                                              object
%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)                                    object
Overseas_nationals_entering_the_UK_(NINo),_(2015/16)                                                 object
New_migrant_(NINo)_rates,_(2015/16)                                                                 float64
Largest_migrant_population_arrived_during_2015/16                                                    object
Second_largest_migrant_population_arrived_during_2015/16                                             object
Third_largest_migrant_population_arrived_during_2015/16                                              object
Employment_rate_(%)_(2015)                                                                          float64
Male_employment_rate_(2015)                                                                          object
Female_employment_rate_(2015)                                                                        object
Unemployment_rate_(2015)                                                                             object
Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)                                                    object
Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014)                                                object
Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)               object
%_working-age_with_a_disability_(2015)                                                               object
Proportion_of_working_age_people_with_no_qualifications_(%)_2015                                     object
Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015                               object
Gross_Annual_Pay,_(2016)                                                                             object
Gross_Annual_Pay_-_Male_(2016)                                                                       object
Gross_Annual_Pay_-_Female_(2016)                                                                     object
Modelled_Household_median_income_estimates_2012/13                                                   object
%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13)                                     object
Number_of_jobs_by_workplace_(2014)                                                                   object
%_of_employment_that_is_in_public_sector_(2014)                                                     float64
Jobs_Density,_2015                                                                                  float64
Number_of_active_businesses,_2015                                                                     int64
Two-year_business_survival_rates_(started_in_2013)                                                  float64
Crime_rates_per_thousand_population_2014/15                                                          object
Fires_per_thousand_population_(2014)                                                                 object
Ambulance_incidents_per_hundred_population_(2014)                                                    object
Median_House_Price,_2015                                                                             object
Average_Band_D_Council_Tax_charge_(£),_2015/16                                                       object
New_Homes_(net)_2015/16_(provisional)                                                                object
Homes_Owned_outright,_(2014)_%                                                                       object
Being_bought_with_mortgage_or_loan,_(2014)_%                                                         object
Rented_from_Local_Authority_or_Housing_Association,_(2014)_%                                         object
Rented_from_Private_landlord,_(2014)_%                                                               object
%_of_area_that_is_Greenspace,_2005                                                                   object
Total_carbon_emissions_(2014)                                                                        object
Household_Waste_Recycling_Rate,_2014/15                                                              object
Number_of_cars,_(2011_Census)                                                                         int64
Number_of_cars_per_household,_(2011_Census)                                                         float64
%_of_adults_who_cycle_at_least_once_per_month,_2014/15                                               object
Average_Public_Transport_Accessibility_score,_2014                                                   object
Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14     object
Rates_of_Children_Looked_After_(2016)                                                                object
%_of_pupils_whose_first_language_is_not_English_(2015)                                               object
%_children_living_in_out-of-work_households_(2015)                                                  float64
Male_life_expectancy,_(2012-14)                                                                      object
Female_life_expectancy,_(2012-14)                                                                    object
Teenage_conception_rate_(2014)                                                                       object
Life_satisfaction_score_2011-14_(out_of_10)                                                         float64
Worthwhileness_score_2011-14_(out_of_10)                                                            float64
Happiness_score_2011-14_(out_of_10)                                                                 float64
Anxiety_score_2011-14_(out_of_10)                                                                   float64
Childhood_Obesity_Prevalance_(%)_2015/16                                                             object
People_aged_17+_with_diabetes_(%)                                                                   float64
Mortality_rate_from_causes_considered_preventable_2012/14                                            object
Political_control_in_council                                                                         object
Proportion_of_seats_won_by_Conservatives_in_2014_election                                            object
Proportion_of_seats_won_by_Labour_in_2014_election                                                   object
Proportion_of_seats_won_by_Lib_Dems_in_2014_election                                                 object
Turnout_at_2014_local_elections                                                                      object
dtype: object

There are 33 neighborhoods in London -- the last five rows of the dataframe contain aggregate information and will not be used in the analysis  
We may also have to convert the datatype of certain columns.

In [5]:
#london_boroughs = https://en.wikipedia.org/wiki/List_of_London_boroughs
nLn_data = london_data[:-5]
nLn_data.tail()

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),Net_international_migration_(2015),Net_natural_change_(2015),%_of_resident_population_born_abroad_(2015),Largest_migrant_population_by_country_of_birth_(2011),%_of_largest_migrant_population_(2011),Second_largest_migrant_population_by_country_of_birth_(2011),%_of_second_largest_migrant_population_(2011),Third_largest_migrant_population_by_country_of_birth_(2011),%_of_third_largest_migrant_population_(2011),%_of_population_from_BAME_groups_(2016),%_people_aged_3+_whose_main_language_is_not_English_(2011_Census),"Overseas_nationals_entering_the_UK_(NINo),_(2015/16)","New_migrant_(NINo)_rates,_(2015/16)",Largest_migrant_population_arrived_during_2015/16,Second_largest_migrant_population_arrived_during_2015/16,Third_largest_migrant_population_arrived_during_2015/16,Employment_rate_(%)_(2015),Male_employment_rate_(2015),Female_employment_rate_(2015),Unemployment_rate_(2015),Youth_Unemployment_(claimant)_rate_18-24_(Dec-15),Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014),Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016),%_working-age_with_a_disability_(2015),Proportion_of_working_age_people_with_no_qualifications_(%)_2015,Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015,"Gross_Annual_Pay,_(2016)",Gross_Annual_Pay_-_Male_(2016),Gross_Annual_Pay_-_Female_(2016),Modelled_Household_median_income_estimates_2012/13,%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13),Number_of_jobs_by_workplace_(2014),%_of_employment_that_is_in_public_sector_(2014),"Jobs_Density,_2015","Number_of_active_businesses,_2015",Two-year_business_survival_rates_(started_in_2013),Crime_rates_per_thousand_population_2014/15,Fires_per_thousand_population_(2014),Ambulance_incidents_per_hundred_population_(2014),"Median_House_Price,_2015","Average_Band_D_Council_Tax_charge_(£),_2015/16",New_Homes_(net)_2015/16_(provisional),"Homes_Owned_outright,_(2014)_%","Being_bought_with_mortgage_or_loan,_(2014)_%","Rented_from_Local_Authority_or_Housing_Association,_(2014)_%","Rented_from_Private_landlord,_(2014)_%","%_of_area_that_is_Greenspace,_2005",Total_carbon_emissions_(2014),"Household_Waste_Recycling_Rate,_2014/15","Number_of_cars,_(2011_Census)","Number_of_cars_per_household,_(2011_Census)","%_of_adults_who_cycle_at_least_once_per_month,_2014/15","Average_Public_Transport_Accessibility_score,_2014","Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14",Rates_of_Children_Looked_After_(2016),%_of_pupils_whose_first_language_is_not_English_(2015),%_children_living_in_out-of-work_households_(2015),"Male_life_expectancy,_(2012-14)","Female_life_expectancy,_(2012-14)",Teenage_conception_rate_(2014),Life_satisfaction_score_2011-14_(out_of_10),Worthwhileness_score_2011-14_(out_of_10),Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
28,E09000029,Sutton,Outer London,202600,85243,"4,385",46.2,38.9,20.7,64.3,15.1,161,568,1269,23.1,Sri Lanka,1.8,India,1.7,Ireland,1.2,25,10,"2,070",16.1,Romania,Bulgaria,Poland,78.2,86.2,70.5,5.5,2.3,3.2,5.1,14.4,4.3,42.5,32697,36636,28540,"£39,940",23.5,78600,18.9,0.6,8710,76.0,55.9,2,11.3,320000,1486.03,390,25.7,41.8,11.6,20.5,32,666,37.6,91266,1.2,9.4,2.9,67.4,50,34.3,9.6,80.9,83.4,17.3,7.5,7.7,7.3,3.2,18.4,5.9,163,Lib Dem,16.7,0,83.3,42.6
29,E09000030,Tower Hamlets,Inner London,304000,123720,"1,978",153.7,31.4,20.1,73.9,6.0,-2798,10532,3509,38.6,Bangladesh,15.3,India,1.5,China,1.4,54,34.2,"17,580",80.5,Italy,France,Spain,70.4,80.3,59.6,9.2,3.2,3.4,8.5,15.4,10,45.7,36429,38461,32657,"£34,930",20.6,280100,16.1,1.4,18390,69.7,99.9,3.5,11.8,415000,1196.85,2390,7,19.8,41.6,31.5,15.2,1703,28.1,43589,0.4,22.4,5,59.2,47,51.1,21.9,78.1,82.5,18.1,7.2,7.4,7.2,3.3,27.1,6.6,239,Tower Hamlets First,11.1,48.9,0,47.2
30,E09000031,Waltham Forest,Outer London,276200,105981,"3,881",71.2,35.1,21.8,67.9,10.3,-5787,5814,3125,37.2,Pakistan,4.9,Poland,3.2,Romania,1.7,49.9,26.4,"15,452",83.9,Romania,Bulgaria,Poland,73.1,76.8,69.4,5.4,3.5,3,8.1,15.5,11.6,42.6,30859,33126,.,"£33,080",19.2,84500,23.0,0.5,11020,71.0,78,2.2,11.7,366569,1474.18,970,20.6,29.2,19.9,30,31.4,780,35.5,76217,0.8,12.9,3.6,58.3,43,62.4,15.1,79.4,83.8,26.2,7.2,7.5,7.1,3.1,26.3,6.4,185,Lab,26.7,73.3,0,37.6
31,E09000032,Wandsworth,Inner London,321000,138149,"3,426",93.7,35.0,17.8,72.8,9.3,-2507,1296,3574,32.8,Poland,2.2,South Africa,2.1,Ireland,1.9,29.7,17.4,"9,965",43.5,Italy,Spain,Australia,78.8,86.6,71.6,5.7,2.6,2.9,5.9,11.4,4.3,66.4,41064,.,36247,"£47,480",34.6,134100,21.4,0.6,18695,75.8,72.6,1.8,10.1,557000,679.91,2740,17.7,30.5,19.3,31.2,26.9,1038,20.7,89513,0.7,30.7,4.3,63,41,50.8,12.7,79.5,83.7,19.3,7.4,7.6,7.4,3.6,19.3,4.2,177,Cons,68.3,31.7,0,36.9
32,E09000033,Westminster,Inner London,242100,118975,"2,149",112.7,37.7,15.9,72.3,11.7,-3273,10763,1522,49.8,United States,3.6,France,2.6,Iraq,2.1,38.8,30.8,"12,613",72.0,Italy,France,Spain,65.6,68.6,62.3,8.8,3.5,2.2,7.6,17.5,4.5,63.6,42141,46627,39132,"£47,510",23.9,730700,13.4,4.3,55385,68.8,212.4,4,19.9,920000,669.07,910,17.1,11.6,27.8,43.3,38.2,2502,19.1,48810,0.5,15.8,6.5,65.7,39,52.6,15.8,82.3,86.3,15.4,7.3,7.5,7.1,3.4,24.9,4.4,162,Cons,73.3,26.7,0,32.3

Let's just use data for 2017 and ignore columns related to migration and political parties

In [6]:
#column_names = list(london_data.columns.values)
#column_names
nLn_d1 = nLn_data.iloc[:,0:11].copy()
nLn_d1.head()

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015"
0,E09000001,City of London,Inner London,8800,5326,290,30.3,43.2,11.4,73.1,15.5
1,E09000002,Barking and Dagenham,Outer London,209000,78188,"3,611",57.9,32.9,27.2,63.1,9.7
2,E09000003,Barnet,Outer London,389600,151423,"8,675",44.9,37.3,21.1,64.9,14.0
3,E09000004,Bexley,Outer London,244300,97736,"6,058",40.3,39.0,20.6,62.9,16.6
4,E09000005,Brent,Outer London,332100,121048,"4,323",76.8,35.6,20.9,67.8,11.3

Now let's find latitude and longitude of London

In [7]:
address = 'London, UK'

geolocator = Nominatim(user_agent="ln_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London are 51.5073219, -0.1276474.

In [8]:
# Get latitude and longitude of all London Ares
column_names = ['Area_name', 'Latitude','Longitude']
ln_coords = pd.DataFrame(columns=column_names)
for index, row in nLn_d1.iterrows():
    print(row['Area_name'])
    neighborhood = row['Area_name']
    address = neighborhood + ', London, UK'
    geolocator = Nominatim(user_agent="ln_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    ln_coords = ln_coords.append({'Area_name': neighborhood,
                                 'Latitude': latitude,
                                 'Longitude': longitude}, ignore_index = True)
    
    
    #print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))
ln_coords.head()

City of London
Barking and Dagenham
Barnet
Bexley
Brent
Bromley
Camden
Croydon
Ealing
Enfield
Greenwich
Hackney
Hammersmith and Fulham
Haringey
Harrow
Havering
Hillingdon
Hounslow
Islington
Kensington and Chelsea
Kingston upon Thames
Lambeth
Lewisham
Merton
Newham
Redbridge
Richmond upon Thames
Southwark
Sutton
Tower Hamlets
Waltham Forest
Wandsworth
Westminster

              Area_name   Latitude  Longitude
0        City of London  51.515618  -0.091998
1  Barking and Dagenham  51.554117   0.150504
2                Barnet  51.648784  -0.172913
3                Bexley  51.441679   0.150488
4                 Brent  51.563826  -0.275760

In [9]:
map_london = folium.Map(location=[latitude, longitude], zoom_start=12)
# add markers to map
for lat, lng, borough in zip(ln_coords['Latitude'], ln_coords['Longitude'], ln_coords['Area_name']):
    label = '{}'.format(borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  

map_london

#### Define Foursquare Credentials and Version

In [10]:
CLIENT_ID = 'OHO02Z4Z1LC5E2ATUXJQH1S2RJVI4OLQ1Z2RLB2U01V2J0RX' # your Foursquare ID
CLIENT_SECRET = 'CG4FDCUJ5CGAE3ZR550L4BFYVUICFVGIHRVNUPXZSZU4I43K' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: OHO02Z4Z1LC5E2ATUXJQH1S2RJVI4OLQ1Z2RLB2U01V2J0RX
CLIENT_SECRET:CG4FDCUJ5CGAE3ZR550L4BFYVUICFVGIHRVNUPXZSZU4I43K

#### Let's explore the first Area in our dataframe

In [11]:
nLn_d1.loc[0, 'Area_name']

'City of London'

In [12]:
neighborhood_latitude = ln_coords.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = ln_coords.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = ln_coords.loc[0, 'Area_name'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of City of London are 51.5156177, -0.0919983.

Now lets get the top 100 venues that are in City of London within a radius of 500 m

In [13]:
lat = neighborhood_latitude
lng = neighborhood_longitude
radius = 500
LIMIT= 100
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)

In [14]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5e46aa3fc546f3001b407fce'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'City of London',
  'headerFullLocation': 'City of London, London',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 177,
  'suggestedBounds': {'ne': {'lat': 51.5201177045, 'lng': -0.0847805703420935},
   'sw': {'lat': 51.5111176955, 'lng': -0.0992160296579065}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c5190663940be9a0f2c0f09',
       'name': 'Goodman Steak House Restaurant',
       'location': {'address': '11 Old Jewry',
        'lat': 51.51439802733941,
        'lng': -0.09074537518056014,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51439802733941,
          'lng': -0.09074537518056014}],
        'distance': 161,
        'postalCode': 'EC2R 8DU',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['11 Old Jewry',
         'London',
         'Greater London',
         'EC2R 8DU',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1cc941735',
         'name': 'Steakhouse',
         'pluralName': 'Steakhouses',
         'shortName': 'Steakhouse',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/steakhouse_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c5190663940be9a0f2c0f09-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4cb34ceb9b34199c30fbb963',
       'name': 'Daunt Books',
       'location': {'address': '61 Cheapside',
        'lat': 51.51398169143981,
        'lng': -0.09299522000314557,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51398169143981,
          'lng': -0.09299522000314557}],
        'distance': 194,
        'postalCode': 'EC2V 6AX',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['61 Cheapside',
         'London',
         'Greater London',
         'EC2V 6AX',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d114951735',
         'name': 'Bookstore',
         'pluralName': 'Bookstores',
         'shortName': 'Bookstore',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/bookstore_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4cb34ceb9b34199c30fbb963-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e9d32995503b4a7c128d043',
       'name': 'Hawksmoor Guildhall',
       'location': {'address': '10 Basinghall Street',
        'lat': 51.515647370116184,
        'lng': -0.09099734746424006,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.515647370116184,
          'lng': -0.09099734746424006}],
        'distance': 69,
        'postalCode': 'EC2V 5BQ',
        'cc': 'GB',
        'neighborhood': 'City of London',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['10 Basinghall Street',
         'London',
         'Greater London',
         'EC2V 5BQ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1cc941735',
         'name': 'Steakhouse',
         'pluralName': 'Steakhouses',
         'shortName': 'Steakhouse',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/steakhouse_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e9d32995503b4a7c128d043-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4cadc734632b370400f7696e',
       'name': 'City Càphê',
       'location': {'address': '17 Ironmonger Ln.',
        'lat': 51.51474961713268,
        'lng': -0.09154479356888842,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51474961713268,
          'lng': -0.09154479356888842}],
        'distance': 101,
        'postalCode': 'E C2V',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['17 Ironmonger Ln.',
         'London',
         'Greater London',
         'E C2V',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d14a941735',
         'name': 'Vietnamese Restaurant',
         'pluralName': 'Vietnamese Restaurants',
         'shortName': 'Vietnamese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vietnamese_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4cadc734632b370400f7696e-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '58933377469aef72f3707afe',
       'name': 'The Ned Hotel',
       'location': {'address': '27 Poultry',
        'lat': 51.51375523989037,
        'lng': -0.09006653956021182,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51375523989037,
          'lng': -0.09006653956021182}],
        'distance': 246,
        'postalCode': 'EC2R 8AJ',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['27 Poultry',
         'London',
         'Greater London',
         'EC2R 8AJ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1fa931735',
         'name': 'Hotel',
         'pluralName': 'Hotels',
         'shortName': 'Hotel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-58933377469aef72f3707afe-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '53b15736498e1cdd0eb1d95b',
       'name': 'The Merchant House',
       'location': {'address': '13 Well Ct',
        'crossStreet': 'Bow Ln',
        'lat': 51.513264,
        'lng': -0.093039,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.513264,
          'lng': -0.093039}],
        'distance': 271,
        'postalCode': 'EC4M 9DN',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['13 Well Ct (Bow Ln)',
         'London',
         'Greater London',
         'EC4M 9DN',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d11e941735',
         'name': 'Cocktail Bar',
         'pluralName': 'Cocktail Bars',
         'shortName': 'Cocktail',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-53b15736498e1cdd0eb1d95b-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '591637a193bd634119e74a27',
       'name': "Ned's Club Downstairs",
       'location': {'address': '27 Poultry',
        'lat': 51.51362231040922,
        'lng': -0.0901448367920373,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51362231040922,
          'lng': -0.0901448367920373}],
        'distance': 256,
        'postalCode': 'EC2R 8AJ',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['27 Poultry',
         'London',
         'Greater London',
         'EC2R 8AJ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d121941735',
         'name': 'Lounge',
         'pluralName': 'Lounges',
         'shortName': 'Lounge',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-591637a193bd634119e74a27-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '59076e3d666116697150fc02',
       'name': "Ned's Club Upstairs",
       'location': {'address': '27 Poultry',
        'lat': 51.513788692889555,
        'lng': -0.09012400881086845,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.513788692889555,
          'lng': -0.09012400881086845}],
        'distance': 241,
        'postalCode': 'EC2R 7DB',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['27 Poultry',
         'London',
         'Greater London',
         'EC2R 7DB',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d133951735',
         'name': 'Roof Deck',
         'pluralName': 'Roof Decks',
         'shortName': 'Roof Deck',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_roofdeck_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-59076e3d666116697150fc02-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ac518d3f964a5205aa720e3',
       'name': 'Guildhall Art Gallery',
       'location': {'address': 'Guildhall Yard',
        'lat': 51.51555072911845,
        'lng': -0.09200376728625424,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51555072911845,
          'lng': -0.09200376728625424}],
        'distance': 7,
        'postalCode': 'EC2V 5AE',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['Guildhall Yard',
         'London',
         'Greater London',
         'EC2V 5AE',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d1e2931735',
         'name': 'Art Gallery',
         'pluralName': 'Art Galleries',
         'shortName': 'Art Gallery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/artgallery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4ac518d3f964a5205aa720e3-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '55645a51498eb6f3a5ae4df7',
       'name': 'The Trading House',
       'location': {'address': '91 Gresham Street',
        'lat': 51.51506346595909,
        'lng': -0.09142715063542992,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51506346595909,
          'lng': -0.09142715063542992}],
        'distance': 73,
        'postalCode': 'EC2V 7NQ',
        'cc': 'GB',
        'city': 'London',
        'country': 'United Kingdom',
        'formattedAddress': ['91 Gresham Street',
         'London',
         'EC2V 7NQ',
         'United Kingdom']},
       'categories': [{'id': '52e81612bcbc57f1066b79f9',
         'name': 'Modern European Restaurant',
         'pluralName': 'Modern European Restaurants',
         'shortName': 'Modern European',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-55645a51498eb6f3a5ae4df7-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bc45d99b492d13a0de1a960',
       'name': 'Porterford Butchers',
       'location': {'address': '72 Watling St',
        'lat': 51.51303235326847,
        'lng': -0.09373702135804958,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51303235326847,
          'lng': -0.09373702135804958}],
        'distance': 311,
        'postalCode': 'EC4M 9BJ',
        'cc': 'GB',
        'neighborhood': 'City of London',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['72 Watling St',
         'London',
         'Greater London',
         'EC4M 9BJ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d11d951735',
         'name': 'Butcher',
         'pluralName': 'Butchers',
         'shortName': 'Butcher',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_butcher_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bc45d99b492d13a0de1a960-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4f5cf385e4b0c5418c18966b',
       'name': 'One New Change Rooftop',
       'location': {'address': 'One New Change',
        'lat': 51.51391176437131,
        'lng': -0.09577454922475599,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51391176437131,
          'lng': -0.09577454922475599}],
        'distance': 323,
        'postalCode': 'EC4M 9AF',
        'cc': 'GB',
        'neighborhood': 'City of London',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['One New Change',
         'London',
         'Greater London',
         'EC4M 9AF',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d133951735',
         'name': 'Roof Deck',
         'pluralName': 'Roof Decks',
         'shortName': 'Roof Deck',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_roofdeck_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4f5cf385e4b0c5418c18966b-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d9f608b0ea841bde47adbd7',
       'name': 'M&S Simply Food',
       'location': {'address': '3A New Change',
        'crossStreet': 'at Cheapside',
        'lat': 51.51358969,
        'lng': -0.09529666,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51358969,
          'lng': -0.09529666}],
        'distance': 321,
        'postalCode': 'EC4M 9AF',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['3A New Change (at Cheapside)',
         'London',
         'Greater London',
         'EC4M 9AF',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d118951735',
         'name': 'Grocery Store',
         'pluralName': 'Grocery Stores',
         'shortName': 'Grocery Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '571060761'}},
      'referralId': 'e-0-4d9f608b0ea841bde47adbd7-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bf6c59413aed13a6d2aeaf7',
       'name': 'Manicomio',
       'location': {'address': '6 Gutter Lane',
        'lat': 51.51536891323096,
        'lng': -0.09541400116488372,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51536891323096,
          'lng': -0.09541400116488372}],
        'distance': 238,
        'postalCode': 'EC2V 8AS',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['6 Gutter Lane',
         'London',
         'Greater London',
         'EC2V 8AS',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d110941735',
         'name': 'Italian Restaurant',
         'pluralName': 'Italian Restaurants',
         'shortName': 'Italian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bf6c59413aed13a6d2aeaf7-13'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4ac518d5f964a5200fa820e3',
       'name': "Coq d'Argent",
       'location': {'address': 'No. 1 Poultry',
        'lat': 51.513303279109444,
        'lng': -0.0910358067859018,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.513303279109444,
          'lng': -0.0910358067859018}],
        'distance': 266,
        'postalCode': 'EC2R 8EJ',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['No. 1 Poultry',
         'London',
         'Greater London',
         'EC2R 8EJ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d10c941735',
         'name': 'French Restaurant',
         'pluralName': 'French Restaurants',
         'shortName': 'French',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/french_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '34280270'}},
      'referralId': 'e-0-4ac518d5f964a5200fa820e3-14'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5a8fda2d9e3b652cb8ae5068',
       'name': 'Rosslyn',
       'location': {'address': '78 Queen Victoria St',
        'lat': 51.51257394102631,
        'lng': -0.09338110685348511,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.51257394102631,
          'lng': -0.09338110685348511}],
        'distance': 352,
        'postalCode': 'EC4N 4SJ',
        'cc': 'GB',
        'neighborhood': 'City of London',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['78 Queen Victoria St',
         'London',
         'Greater London',
         'EC4N 4SJ',
         'United Kingdom']},

In [15]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [16]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                             name             categories        lat       lng
0  Goodman Steak House Restaurant             Steakhouse  51.514398 -0.090745
1                     Daunt Books              Bookstore  51.513982 -0.092995
2             Hawksmoor Guildhall             Steakhouse  51.515647 -0.090997
3                      City Càphê  Vietnamese Restaurant  51.514750 -0.091545
4                   The Ned Hotel                  Hotel  51.513755 -0.090067

In [17]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

100 venues were returned by Foursquare.

In [18]:
nearby_venues.groupby('categories')['name'].nunique()

categories
Art Gallery                   3
Asian Restaurant              2
Bakery                        1
Bookstore                     1
Botanical Garden              1
Boxing Gym                    1
Building                      1
Burrito Place                 1
Business Service              1
Butcher                       1
Café                          2
Clothing Store                3
Cocktail Bar                  2
Coffee Shop                   8
Concert Hall                  1
Cycle Studio                  1
Dessert Shop                  1
English Restaurant            1
Event Space                   1
Falafel Restaurant            1
French Restaurant             3
Garden                        2
Grocery Store                 1
Gym / Fitness Center          2
Historic Site                 1
History Museum                2
Hotel                         2
Hotel Bar                     1
Indian Restaurant             2
Indie Movie Theater           1
Italian Restaurant            4
Juice Bar                     2
Lake                          1
Latin American Restaurant     1
Lounge                        2
Mexican Restaurant            1
Modern European Restaurant    2
Museum                        1
New American Restaurant       1
Park                          2
Pedestrian Plaza              1
Performing Arts Venue         1
Plaza                         1
Pub                           3
Restaurant                    3
Roof Deck                     2
Scandinavian Restaurant       1
Scenic Lookout                2
Seafood Restaurant            2
Shopping Mall                 1
Steakhouse                    2
Sushi Restaurant              1
Theater                       1
Udon Restaurant               1
Vietnamese Restaurant         2
Wine Bar                      2
Yoga Studio                   2
Name: name, dtype: int64

#### As we can see there are Boxing Gym, Cycle Studios, Gym / Fitness Centers, and Yoga Studios in this neighborhood. I intend to look at the density of these places perhaps normalized by the population and factoring in the ease to transportation or availability of parking to determine the most attractive neighborhood to open a new Gym / Fiteness Center. I can compare these metrics across all the neigborhoods in the London to determine which is most desirable for starting the business. Other factors that may affect the decision include the quality of the neighborhood i.e. whether it is relatively affluent and the demographics of the population.